  <div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">
      
<h3>De Favorieten voor het Groen</h3>

<p><strong>De Favorieten</strong></p>    
<dl class="accordion" data-accordion>
<dd>
    <a href="#panel11">SAGAN, Peterr</a>
    <div id="panel11" class="content">De winnaar van het Puntenklassement 2014 is zeker niet de snelste sprinter van het peloton. Echter, top 5 sprint hij meestal wel. Bovendien haalt hij veel punten in etappes waar andere sprinters op minuten worden gereden. Dat maakt hem de kandidaat voor het het Groen deze Tour.
    </div>
  </dd>
  <dd>
    <a href="#panel12">CAVENDISH, Mark</a>
    <div id="panel12" class="content">Mark Cavendish en Marcel Kittel zijn waarschijnlijk de snelste sprinters van het peloton die bovendien beide ook nog eens over een uitgebalanceerd treintje beschikken. Voor Cavendish zullen de eerste etappes special zijn en we kunnen er dus op rekenen dat hij en zijn team er alles aan zullen doen om de eerste etappes te winnen.
    </div>
  </dd>
  <dd>
    <a href="#panel13">KITTEL, Marcel</a>
    <div id="panel13" class="content">Marcel Kittel en Mark Cavendish zijn waarschijnlijk de snelste sprinters van het peloton die bovendien beide ook nog eens over een uitgebalanceerd treintje beschikken. De ploeg van Kittel zal waarschijnlijk de eerste dagen niet al te veel werk hoeven verrichten om de koers te laten eindigen in een massasprint. Dat kan wel eens een enorm voordeel zijn in het vervolg van de Tour.
</div>
  </dd>
  <dd>
    <a href="#panel14">GREIPEL, Andre</a>
    <div id="panel14" class="content">Andre Greipel kan zeker etappes winnen. Zal zeker hoog eindigen in het Puntenklassement. Hij behoort echt tot de beste sprinters, maar het zal heel moeilijk zijn om ook echt de Groene trui te veroveren.
    </div>
  </dd>  
  <dd>
    <a href="#panel15">KRISTOFF, Alexander</a>
    <div id="panel15" class="content">Alexander Kristoff is eigenlijk 'the beste of the rest'. Met een beetje geluk kan hij een etappe winnen. Zijn naam zal echter vaker achter plek 3, 4 of 5 terug te vinden zijn.
   </div>
  </dd>  


</dl>    
<hr>
<p><strong>De Outsiders</strong></p>    
<dl class="accordion" data-accordion>
<dd>
    <a href="#panel1">GOSS, Matthew</a>
    <div id="panel1" class="content">Matthew Goss leek ooit voor bestemd om de grootste sprinter van zijn generatie te worden. Als hij deze tour enkele podium plaatsen haalt is dan meer dan verwacht.
</div>
  </dd>
  <dd>
    <a href="#panel2">ROJAS, Jose Joaquin</a>
    <div id="panel2" class="content">Jose Joaquin is er altijd bij, maar wint eigenlijk nooit. Net niet snel genoeg voor de echte top. Op lastige aankomsten heeft hij echter wel altijd kans.
    </div>
  </dd>
  <dd>
    <a href="#panel3">HAGEN, Edvald Boasson</a>
    <div id="panel3" class="content">Edvald Boasson Hagen had eigenlijk nooit naar Team Sky moeten gaan. Tenminste, als hij voor zijn eigen kansen had willen rijden. Bij Team Sky ligt het accent op Geel en niet op Groen. Hagen doet altijd wel in een paar etappes mee voor de overwinning, maar moet ook veel werk verrichten voor zijn kopman.
</div>
  </dd>
  <dd>
    <a href="#panel4">BOUHANNI, Nacer</a>
    <div id="panel4" class="content">De Frans kampioen op de weg van 2012 moet zich in de Tour nog bewijzen. In 2013 lag hij al de eerste etappe met zijn neus op het asfalt. Hierdoor kon hij mogelijk niet laten zien wat er wel in zat. Kan dit jaar wel eens de sprint revelatie van de Tour worden.
    </div>
  </dd>
  <dd>
    <a href="#panel5">FERRARI, Roberto</a>
    <div id="panel5" class="content">Roberto Ferrari maakt vorig jaar met een heuse zweefduik in de eerste etappe kennis met Tour de France. Sprintte verder aardig mee. Dit jaar maakt het grote publiek mogelijk kennis met deze rappe Italiaan. Bovendien... zijn naam alleen zou al goed moeten zijn voor een plekje in je Tourpoule!!!
    </div>
  </dd>
  <dd>
    <a href="#panel6">COQUARD, Bryan</a>
    <div id="panel6" class="content">Bryan Coquard begon zijn carrière als baanwielrenner. Deze nog jonge en rappe Fransman kan wel eens voor een verassing gaan zorgen deze Tour.</div>
  </dd>
</dl>    
    </div>