  <div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">
      
<h3>De Favorieten voor het Groen</h3>

<p><strong>De Kandidaten</strong></p>  
<div><p><strong>SAGAN, Peter</strong><br>
De winnaar van het Puntenklassement 2014 is zeker niet de snelste sprinter van het peloton. Echter, top 5 sprint hij meestal wel. Bovendien haalt hij veel punten in etappes waar andere sprinters op minuten worden gereden. Dat maakt hem de kandidaat voor het het Groen deze Tour.
</p></div>

<div><p><strong>CAVENDISH, Mark</strong><br>
    Mark Cavendish en Marcel Kittel zijn waarschijnlijk de snelste sprinters van het peloton die bovendien beide ook nog eens over een uitgebalanceerd treintje beschikken. Voor Cavendish zullen de eerste etappes special zijn en we kunnen er dus op rekenen dat hij en zijn team er alles aan zullen doen om de eerste etappes te winnen.
    </p></div>

<div><p><strong>KITTEL, Marcel</strong><br>
 Marcel Kittel en Mark Cavendish zijn waarschijnlijk de snelste sprinters van het peloton die bovendien beide ook nog eens over een uitgebalanceerd treintje beschikken. De ploeg van Kittel zal waarschijnlijk de eerste dagen niet al te veel werk hoeven verrichten om de koers te laten eindigen in een massasprint. Dat kan wel eens een enorm voordeel zijn in het vervolg van de Tour.
</p></div>

<div><p><strong>GREIPEL, Andre</strong><br>
Andre Greipel kan zeker etappes winnen. Zal zeker hoog eindigen in het Puntenklassement. Hij behoort echt tot de beste sprinters, maar het zal heel moeilijk zijn om ook echt de Groene trui te veroveren.
    </p></div>

<div><p><strong>KRISTOFF, Alexander</strong><br>
Alexander Kristoff is eigenlijk 'the beste of the rest'. Met een beetje geluk kan hij een etappe winnen. Zijn naam zal echter vaker achter plek 3, 4 of 5 terug te vinden zijn.
</p></div>
   
<hr>
<p><strong>De Outsiders</strong></p>    

<div><p><strong>GOSS, Matthew</strong><br>
Matthew Goss leek ooit voor bestemd om de grootste sprinter van zijn generatie te worden. Als hij deze tour enkele podium plaatsen haalt is dan meer dan verwacht.
</p></div>

<div><p><strong>ROJAS, Jose Joaquin</strong><br>
Jose Joaquin is er altijd bij, maar wint eigenlijk nooit. Net niet snel genoeg voor de echte top. Op lastige aankomsten heeft hij echter wel altijd kans.
    </p></div>
 
 <div><p><strong>BOUHANNI, Nacer</strong><br>
De Frans kampioen op de weg van 2012 moet zich in de Tour nog bewijzen. In 2013 lag hij al de eerste etappe met zijn neus op het asfalt. Hierdoor kon hij mogelijk niet laten zien wat er wel in zat. Kan dit jaar wel eens de sprint revelatie van de Tour worden.
   </p> </div>

<div><p><strong>COQUARD, Bryan</strong><br>
Bryan Coquard begon zijn carrière als baanwielrenner. Deze nog jonge en rappe Fransman kan wel eens voor een verassing gaan zorgen deze Tour.
</p></div>