<div class="row">
  <div class="large-12 columns">
    <div class="row">
              <h4>WELKOM</h4>
              <p>Welkom op Tourgames.nl. De Site voor en over de Tour de France.</p>
              <p>Deze site is nog in ontwikkeling, doch is de informatie die te vinden is actueel. Dus niet schrikken als het er bij een volgend bezoek iets anders uit ziet :-)</p>
	              								
          <!-- Begin Panel -->     
              <div class="panel">
 
              	<div class="panel hide-for-small">
	              	<p><strong><a href="../pages/yellow">Bekijk de favorieten voor de Gele Trui »</a></strong></p>
	            </div>
                <div class="panel hide-for-small">
	                <p><strong><a href="../pages/green">Bekijk de favorieten voor de Groene Trui »</a></strong></p>
                </div>
                <div class="panel hide-for-small">
	                <p><strong><a href="../pages/white">Bekijk de favorieten voor de Witte Trui »</a></strong></p>
                </div>
                <div class="panel hide-for-small">
	                <p><strong><a href="../pages/polka">Bekijk de favorieten voor de Bolletjes Trui »</a></strong></p>
                </div>
              
              </div>
          <!-- End Panel -->
 
   </div>
 </div>
</div>