  <div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">
      
<h3>De Favorieten voor de Bolletjes Trui</h3>
<p>Met 5 aankomsten berg is geen voordeel voor renners die naar de Tour komen om het Bergklassement te winnen. Vanwege het feit dat je op de laatste berg van de dag dubbele punten kan scoren en het gevecht om het geel meestal ook daar gevoerd wordt zullen klassementsrenners dit jaar veel punten halen. Het kan dus zo maar zijn dat een podium plek ook dit jaar goed is voor de Red Polka Dot Jersey.</p>	

<p><strong>De Favorieten</strong></p>    
<dl class="accordion" data-accordion>

<dd>
    <a href="#panel1">KESSIAKOFF, Fredrik</a>
    <div id="panel1" class="content">Als oud mountainbiker gaat Fredrik Kessiakoff gemakkelijk omhoog. Dalen lukt over het algemeen dan ook wel. Bovendien kan hij ook tijdrijden. De ideale ronderenner zou je zeggen. Toch is dit niet het geval. Het motortje van Kessiakoff kan zich niet meten met de besten. Wil de op leeftijd rakende Kessiakoff nog een prijs winnen in de Tour de France, dan kan dat dit jaar.
    </div>
</dd>
<dd>
    <a href="#panel11">ROLLAND, Pierre</a>
    <div id="panel11" class="content">Pierre Rolland zou eigenlijk voor het klassement moeten rijden. Hij behaalde al eens een 8e en 10e plek in het eindklassement van de Tour de France (2011, 2012). Een etappe overwinning en wellicht de bolletjes trui zijn veel realistischer en leveren meer publiciteit op dan een 10e plek in het eindklassement. 
    </div>
  </dd>
  <dd>
    <a href="#panel12">PINOT, Thibaut</a>
    <div id="panel12" class="content">Romein Bardet was vorig jaar in de Tour de France de beste Fransman in het eindklassement (15e, voor wat het waard is). Dit jaar moet Romein Bardet eigenlijk de ronde eindigen met een prijs (het Jongerenklassement en het Bergklassement). Er zijn veel Franse 'talenten' die niet doorbreken. Het is aan Bardet om het dit jaar op nieuw te laten laten zien, anders dreigt er in de toekomst een rol als knecht van o.a. Carlos Betancur.
</div>
  </dd>
  <dd>
    <a href="#panel13">MOSER, Moreno</a>
    <div id="panel13" class="content">
Dit moet het jaar worden van Valverde. Om de discussie over het kopmanschap te voorkomen laat Team Moviestar Nairo Quintana, de nummer 2 van de Tour 2013. Met 6 bergetappes, waarvan 5 met aankomst bergop, en slechts 1 tijdrit lijkt deze Tour de kans voor Valverde om eeuwige roem te vergaren. De concurrentie is echter moordend.
	</div>
  </dd>
  <dd>
    <a href="#panel14">BETANCUR, Carlos</a>
    <div id="panel14" class="content">Carlos Betancur kan mogelijk het zelfde doen als zijn landgenoot Quintana vorig jaar, verassen in de Tour de France met een podium plek. Voor Carlos Betancur lijkt het realistischer om zich te richten op het jongerenklassement en/of het Bergklassement. Dat is zeker geen schande.
</div>
  </dd>  
  <dd>
    <a href="#panel2">VANENDERT, Jelle</a>
    <div id="panel2" class="content">Met de kopmannen Jurgen van den Broeck en André Greipel in zijn ploeg lijkt er een rol als knecht voor Jelle Vanendert in het verschiet te liggen. Dat kan dit jaar wel eens heel anders uitpakken met een top 5 notering en het Bergklassement.
    </div>
  </dd>
  <dd>
    <a href="#panel3">VILLELLA, Davide</a>
    <div id="panel3" class="content">Villella mocht in 2013 bij Cannondale Pro Cycling Team stage lopen. Met zijn prestaties in onder meer de Coppa Sabatini en Ronde van Emilia verdiende hij daar een eenjarig contract. In 2014 won hij vervolgens het bergklassement in de Ronde van het Baskenland.
</div>
  </dd>
</dl>    
    </div>