  <div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">
      
<h3>Voorbeschouwing</h3>

<p>Op zaterdag 5 juli start de 101e Tour de France. Het Grand Départ van de Tour de France zal in 2014 in Yorkshire (Groot-Brittannië) plaatsvinden in Leeds en naar Harrogate. Opnieuw is er gekozen voor een eerste etappe in plaats van een proloog. Mark Cavendish zal zich op eigen bodem willen revancheren ten opzichte van vorig jaar toen de Duitser Marcel Kittel de eerste etappe won en zo ook de gele trui aan mocht trekken.</p>

<p>Nadat rit 3 in Londen is gefinisht volgt een verplaatsing naar Frankrijk, waar de 4e etappe van Le Touquet naar Lille wordt verreden. De 5e etappe vindt in België plaats: van Ieper naar Wallis, en dan weet de kenner genoeg. Inderdaad, die rit bevat een flink stuk Parijs–Roubaix-kasseien. Na deze en nog ander obstakels te hebben overwonnen komen de bergen in zicht. Het lijkt er op dat de Tour van 2014 er een is voor klimmers. Er zijn zes aankomsten bergop, o.a. Pla d’Adet, Hautecam en La Planche des Belles Filles. Er is maar één tijdrit en de ploegentijdrit is uit het programma geschrapt.</p>

<p>Er kan worden geconcludeerd dat de koersdirectie de wensen van de renners eindelijk heeft vervuld; op enkele zware en lange etappes na, zijn de etappes waar bergop wordt gefinisht redelijk kort. Vooral titelhouder Chris Froome zal erg blij zijn met het parcours en zal de gedoodverfde favoriet worden. Vicenzo Nibali, Alejandro Valverde en Alberto Contador zullen zijn voornaamste uitdagers zijn. Ook de sprinters en aanvallers zullen blij zijn met dit parcours. Tijdens de etappes in Engeland zal er allereerst gesprint en gestreden worden om de gele trui en ook een etappewinst in Londen zal menig renner graag op zijn erelijst bij willen schrijven. De klassieke renners zullen smullen van de aankondiging van de negen kasseistroken in de vijfde etappe. Er is dus voor veel renners iets te halen deze Tour.</p>

    </div>
