  <div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">
      
<h3>De Favorieten voor het Wit</h3>

<p><strong>De Favorieten</strong></p>    
<dl class="accordion" data-accordion>
<dd>
    <a href="#panel11">DENNIS, Rohan</a>
    <div id="panel11" class="content">Gestart als zwem- en waterskifanaat raakt Rohan Dennis vertrouwd met de wielersport na een initiatiecursus. Aanvankelijk beschouwde hij het wielrennen als trainingsactiviteit tot verbetering van zijn zwemprestaties, maar koos dan uiteindelijk voor de fiets als volwaardige sport. Won dit jaar al het Jongerenklassement van de Ronde van de Sarthe. Mocht vorig jaar al even een weekje proeven van de Tour.
    </div>
  </dd>
  <dd>
    <a href="#panel12">BARDET, Romain</a>
    <div id="panel12" class="content">Romein Bardet was vorig jaar in de Tour de France de beste Fransman in het eindklassement (15e, voor wat het waard is). Dit jaar moet Romein Bardet eigenlijk de ronde eindigen met een prijs (het Jongerenklassement en het Bergklassement). Er zijn veel Franse 'talenten' die niet doorbreken. Het is aan Bardet om het dit jaar op nieuw te laten laten zien, anders dreigt er in de toekomst een rol als knecht van o.a. Carlos Betancur.
    </div>
  </dd>
  <dd>
    <a href="#panel13">IZAGUIRRE, Jon</a>
    <div id="panel13" class="content">Jon Izaguirre werd in 2012 al 16e etappe Ronde van Italië. Hij heeft dus zeker de potentie om het Jongerenklassement van de Tour de France te winnen. Het kan echter zo zijn dat hij dit jaar in dienst moet rijden van Valverde.
</div>
  </dd>
  <dd>
    <a href="#panel14">KWIATKOWSKI, Michal</a>
    <div id="panel14" class="content">Michal Kwiakowski leek vorig jaar uit het niets te komen om vervolgens in de tour te eindigen op een 11e plaats in het algemeen klassement,  en een 3e plaats in het jongeren klassement en een 8e plaats in het puntenklassement. Alleen... Michal Kwiakowski was niet terug te vinden in het bergklassement. Om de Tour te winnen moet je wel top 5 in een bergetappe kunnen rijden. Deze alleskunner wordt dus of een concurrent voor Peter Sagan (Groen) of blijkt deze zomer ook het hooggebergte aan te kunnen. Als dat lukt is hij ook zeker een kanshebber voor het winnen van het Jongerenklassement. We zullen zien.
</div>
  </dd>  
<dd>
    <a href="#panel1">PINOT, Thibaut</a>
    <div id="panel1" class="content">Thibaut Pinot was de revelatie van de Tour de France in 2012 en de grootste deceptie in 2013. Angstaanvallen (o.a. tijdens afdalen in de regen) lijkt groot succes in de weg te staan. Kan dit jaar nog gaan voor het jongerenklassement en doet dan automatisch in de slipstream mee voor het Bergklassement.
    </div>
  </dd>
  <dd>
    <a href="#panel2">SLAGTER, Tom-Jelte</a>
    <div id="panel2" class="content">Tom-Jelte Slagter kende een sterk voorseizoen. Als hij in tot in de Tour zijn vorm kan behouden, dan kan de oranje koorts wel eens de Witte trui opleveren aan het einde van de Tour de France.
    </div>
  </dd>
  <dd>
    <a href="#panel3">MOSER, Moreno</a>
    <div id="panel3" class="content">Moreno Moser is een jonge Italiaanse alleskunner. Als Moser wil kan hij mee doen voor het jongerenklassement en het Bergklassement. Rijden voor Peter Sagan en gaan voor een etappe overwinning behoort ook tot de mogelijkheden. Lastig, we gaan het zien.
    </div>
  </dd>
  <dd>
    <a href="#panel4">BETANCUR, Carlos</a>
    <div id="panel4" class="content">Carlos Betancur kan mogelijk het zelfde doen als zijn landgenoot Quintana vorig jaar, verassen in de Tour de France met een podium plek. Voor Carlos Betancur lijkt het realistischer om zich te richten op het jongerenklassement en/of het Bergklassement. Dat is zeker geen schande.
    </div>
  </dd>
</dl>    
    </div>