 
  <div class="row">
     <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div> 
<!-- Main Content Section -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-9 columns">
      
<h3>De Favorieten voor het Geel</h3>

<div><p><strong>FROOME, Christopher</strong><br>
De grote favoriet voor de eindoverwinning in de Tour van 2014 is zonder twijfel Christopher Froome. De kopman van Team Sky won met veel overtuiging de Tour van 2013 en werd in 2012 als knecht van Wiggens 2e. Deze Keniaan met een Brits paspoort is een zeer allround klassementsrenner. Als klimmer en als tijdrijder behoort hij tot de wereldtop.
</p></div>

<div><p><strong>CONTADOR, Alberto</strong><br>
De Spanjaard Alberto Contador was jarenlang veruit de beste ronderenner ter wereld. De concurrentie lijkt echter sterker dan voor zijn zijn dopingschorsing, Na zijn dopingschorsing heeft hij onder andere nog wel de Vuelta van 2012, maar hij heeft nooit meer zo superieur gepresteerd als voor zijn dopingschorsing. Om de Tour te winnen dien je echter gezond en heel te blijven. Enkele concurrenten van Contador zijn notoire brokken piloten, waardoor de kasseienrit wel eens gunstig kan uitpakken voor het klassement van Contador.    
</p></div>

<div><p><strong>VALVERDE, Alejandro</strong><br>
Dit moet het jaar worden van Valverde. Om de discussie over het kopmanschap te voorkomen laat Team Moviestar Nairo Quintana, de nummer 2 van de Tour 2013. Met 6 bergetappes, waarvan 5 met aankomst bergop, en slechts 1 tijdrit lijkt deze Tour de kans voor Valverde om eeuwige roem te vergaren. De concurrentie is echter moordend.
</p></div>

<div><p><strong>NIBALI, Vicenzo</strong><br>
De Italiaan Vincenzo Nibali liet vorig jaar de Tour voor wat hij was. Hij richtte zich op de Giro d'Italia en won deze met overmacht om vervolgens nog keurig 2e te worden in de Vuelta. Nibali behoort al enige jaren tot de beste ronderenners ter wereld. In 2010 won hij de Vuelta a Espana. In 2012 werd hij tweede in de Tour de France.  De Haai van Messina, is een zeer sterke allround klassementsrenner. Hij is een topklimmer en ook een behoorlijk goede tijdrijder. Wellicht kan hij aan het einde van de Tour dus nog wat goed maken op zijn concurrenten.
</p></div>
<hr>
<h3>De Outsiders</h3>    

<div><p><strong>MOLLEMA, Bauke</strong><br>
Natuurlijk hoort Bauke Mollema tot de outsiders voor de overwinning. Misschien speelt het chauvinisme hier een rol. Na zijn 6e plek van vorig jaar mogen we natuurlijk wel hopen op een podium plek. Bovendien, de tour is de tour en je weet het maar nooit.
</p></div>

<div><p><strong>MORENO, Daniel</strong><br>
Daniel Moreno staat bekend als een goede klimmer en ronde renner. Hij moet het dit jaar echt laten zien in de Tour de France. Gezien zijn goede voorjaar lijkt een podium plek een reële optie.
</p></div>

<div><p><strong>KREUZIGER, Romein</strong><br>
Romein Kreuziger leek over zijn top heen, Als jonge renner reed hij mogelijk te veel en dat vond zijn lichaam niet zo fijn. Na een herstel jaar was hij vorig jaar echter weer terug met een keurige 5e plek in het eind klassement.
</p></div>

<div><p><strong>KWIATKOWSKI, Michal</strong><br>
Michal Kwiakowski leek vorig jaar uit het niets te komen om vervolgens in de tour te eindigen op een 11e plaats in het algemeen klassement,  en een 3e plaats in het jongeren klassement en een 8e plaats in het puntenklassement. Alleen... Michal Kwiakowski was niet terug te vinden in het bergklassement. Om de Tour te winnen moet je wel top 5 in een bergetappe kunnen rijden. Deze alleskunner wordt dus of een concurrent voor Peter Sagan (Groen) of blijkt deze zomer ook het hooggebergte aan te kunnen. We zullen zien.
</p></div>

<div><p><strong>BROECK, Jurgen van den</strong><br>
Bij Jurgen van den Broeck lijkt het alles of niets. Een erkent ronderenner, maar echter ook een erkent brokkenpiloot. Kijk niet vreemd op als Jurgen van den Broeck bij de eerste valpartij van de Tour betrokken is. Ook dit jaar richt hij zich volledig op de Tour zoals alleen de echte grote Tour helden dat konden doen. Jurgen van den Broeck heeft echter nog nooit bewezen een held te zijn. Wellicht dit jaar.
</p></div>

<div><p><strong>GARDEREN, Tejay van</strong><br>
Van Garderen is de zoon van een Amsterdamse vader en een Amerikaanse moeder en spreekt een aardig woordje Nederlands.Het jaar 2012 leek uiteindelijk de grote doorbraak voor Tejay. In de Tour de France van 2012 eindigde hij als vijfde in het algemeen klassement, twee plaatsen hoger dan zijn kopman Cadel Evans. Ook won hij de witte trui van het jongerenklassement. Vorig jaar viel hij echter zwaar tegen met een 45e plaats in het algemeen klassement op +1:38:57 uur van Froome.
</p></div>

<div><p><strong>TALANSKY, Andrew</strong><br>
Andrew Talansky eindigde vorige jaar, na een sterke laatste week, nog net in de top 10 van de Tour 2013. Daar waar Bauke Mollema een magere 3e week kende was Andrew Talansky ijzer sterk. Hier herken je de echte ronde renner aan. Talansky is echter geen ras klimmer. De aankomsten berg op zijn dus in zijn nadeel.
</p></div>

<div><p><strong>NAVARRO, Daniel</strong><br>
De Spanjaard Daniel Navarro mag waarschijnlijk na zijn keurige 9e plek in de Tour van vorig jaar zich volledig richten op het eindklassement. Wellicht mogen Christophe Le Mével en Rein Taaramäe dit ook en wordt het een vrije rol voor de renners van Cofidis.
</p></div>

<div><p><strong>COSTA, Rui</strong><br>
De wereldkampioen cijferde zich vorig jaar weg voor zijn toenmalige kopman Valverde en verloor daardoor kostbare tijd in de beruchte waaierrit. Pakte vervolgens wel 2 etappes en later in het jaar de regenboogtrui. Is na zijn overstap naar Lampre dit jaar voor het eerst kopman in de Tour. Eindzeges in de laatste 2 edities van de Ronde van Zwitserland bewijzen wat een potentie als ronderenner de 27-jarige Portugees heeft. Echter, 3 weken als kopman in de Tour de France is echt iets anders dan de Ronde van Zwitserland.
</p></div>

<div><p><strong>URAN, Rigoberto</strong><br>
Is naar Omega Pharma gehaald als man voor het klassement. In de Tirreno-Adriatico zakte hij door het ijs in de 5e etappe, maar met zijn 2e plaats in de Giro van 2013 heeft hij laten zien dat hij een goed klassement kan rijden. Het is wel de vraag waar Omega Pharma het zwaartepunt gaat leggen, bij ritzeges (Cavendish) of goede klassementen (Uran, Kwiatkowski). Het zou kunnen dat de Colombiaan al veel kruit heeft verschoten in de Giro, waar hij in mei al startte. In dat geval rest hem een rol als knecht.
</p></div>  

    


</div>