<div class="row">
     <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div> 
<!-- Main Content Section -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-9 columns">

<h1>New country</h1>
<% if current_user.try(:admin?) %>
<%= render 'form' %>

<%= link_to 'Back', countries_path %>

<% else %>
<p>U bent niet bevoegd voor het aanbrengen van wijzigingen</p>

<%= link_to 'Back', countries_path %>
<% end %>

</div>